<div class="row">
  <img src="../assets/img/img1.png" alt="Prosperidad Social">
  <img src="../assets/img/colombia.png" alt="Adulto Mayor">
</div><br>
<div *ngIf="articulos!=null; else espera" class="container">
  <table datatable [dtOptions]="dtOptions" class="row-border hover">
    <thead>
      <tr>
        <th scope="col">Cedula</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let art of articulos">
        <td>{{art.cedula}}</td>
        <td>{{art.primernombre}} {{art.segundonombre}} </td>
        <td>{{art.primerapellido}} {{art.segundoapellido}}</td>
      </tr>
    </tbody>
  </table>
</div>
<ng-template #espera>Esperando datos...</ng-template>
